<!--
--><li><a href="@Url.Action("Index", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "index" ? "active" : "")">@Html.Lang("SubNav.Home")</a></li><!--
--><li><a href="@Url.Action("Latest", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "latest" ? "active" : "")">@Html.Lang("SubNav.Latest")</a></li><!--
@if (Html.Settings().EnablePoints)
{<!--
    --><li><a href="@Url.Action("Leaderboard", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "leaderboard" ? "active" : "")">@Html.LanguageString("Layout.Nav.Leaderboard")</a></li><!--
-->}<!--
--><li><a href="@Url.Action("Activity", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "activity" ? "active" : "")">@Html.LanguageString("Layout.Nav.Activity")</a></li><!--
--><li><a href="@Url.Action("AllBadges", "Badge")" class="@(TempData[AppConstants.CurrentController].ToString() == "badge" && TempData[AppConstants.CurrentAction].ToString() == "allbadges" ? "active" : "")">@Html.LanguageString("Layout.Nav.Badges")</a></li><!-- --><li><a href="http://circuitbeard.co.uk"><i class="fa fa-chevron-left"></i>&nbsp; Back to Circuitbeard</a></li>